- content_for :page_title do
  = t('auth.change_password')

= render 'mail'

%hr/

= render 'sessions'

- if open_deletion?
  %hr/

  %h6= t('auth.delete_account')
  %p.muted-hint= t('auth.delete_account_html', path: settings_delete_path)
